APP_ENV=dev
APP_DEBUG=1
APP_TIMEZONE=Europe/Paris

# MySQL
DB_HOST=db
DB_PORT=3306
DB_NAME=ecoride
DB_USER=ecoride
DB_PASSWORD=change_me_strong

# Mongo
MONGO_DSN=mongodb://mongo:27017
MONGO_DB=ecoride

# Reviews fallback table
REVIEWS_FALLBACK_TABLE=avis_fallback

# Security
JWT_SECRET=change_me_jwt_secret

# Xdebug
XDEBUG_CLIENT_HOST=host.docker.internal
