<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         verbose="true">
    <testsuites>
        <testsuite name="EcoRide Services">
            <directory>tests/Services</directory>
        </testsuite>
        <testsuite name="EcoRide Controllers">
            <directory>tests/Controllers</directory>
        </testsuite>
    </testsuites>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">app/Services</directory>
        </include>
    </coverage>
</phpunit>