/* Global layout skeleton */
@layer layout {
  body {
    display: grid;
    grid-template-rows: minmax(64rem, auto) 1fr minmax(64rem, auto);
    min-height: 100vh;
  }

  header {
    grid-row: 1 / 2;
  }

  main {
    grid-row: 2 / 3;
  }

  footer {
    grid-row: 3 / 4;
  }

  .site-header {
    position: sticky;
    top: 0;
    z-index: 1000;
  }
}
